<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>

<div class="container">
<div class="row justify-content-center">
<div class="col-6">
 
<div class="jumbotron">
  <h1 class="display-4">This is POS</h1>
  <p class="lead">Welcome to Increff Point Of Sale Application</p>
  <hr class="my-4">
  <p>This application helps to sell products and manage your Sales</p>
  <a class="btn btn-primary btn-lg" th:href="@{/site/login}" role="button">Get Started</a>
</div>

</div>
</div>
</div> <!--Container-->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>